@font-face {
  font-family: "Devonshire";
  src: url(../fonts/Devonshire-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Croissant";
  src: url(../fonts/croissantone-regular.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Dancing";
  src: url(../fonts/DancingScript-Regular.otf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Kaushan";
  src: url(../fonts/kaushanscript-regular.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Gelder";
  src: url(../fonts/GelderSans-ExtraBold.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Segoe";
  src: url(../fonts/segoeprb.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Quicksand";
  src: url(../fonts/Quicksand-Regular.otf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Alte";
  src: url(../fonts/altehaasgroteskbold.ttf);
  font-style: normal;
  font-weight: bold;
}
@keyframes wiggle {
  25% {
    transform: translateX(1%);
  }
  75% {
    transform: translateX(-1%);
  }
}
@keyframes dots-bar {
  0% {
    opacity: 0%;
    transform: scaleX(0);
  }
  100% {
    opacity: 100%;
    transform: scaleX(1);
  }
}
@keyframes dots-jump {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes btn-txt {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
    opacity: 0%;
  }
}
@keyframes menu-zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}
@keyframes icon-zoom {
  0% {
    transform: scale(1) translateY(0%);
  }
  25% {
    transform: rotate(25deg);
  }
  50% {
    transform: translateY(-25%);
  }
  75% {
    transform: rotate(-25deg);
  }
  100% {
    transform: scale(1.25) translateY(-50%);
  }
}
@keyframes sub-underline {
  0% {
    transform: scaleX(0);
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    transform: scaleX(1);
  }
}
html {
  width: 100%;
  height: 100%;
}

body {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0.5px 0.5px 7px #B0BEC5;
}

/** PAGE ACCUEIL **/
header {
  font-family: "Gelder", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  color: #f9ca48;
  letter-spacing: -4px;
}

.head__title .home-btn {
  text-decoration: none;
}
.head__title .home-btn:visited {
  color: inherit;
}

.menu-display__top--first {
  font-family: "Devonshire", Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 1.1rem;
}
.menu-display__top--first i {
  background: -webkit-linear-gradient(0deg, #f05160 40%, #f6916a 70%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-display__top--first:visited {
  color: inherit;
}
.menu-display__top--first .menu-title {
  color: #3d1319;
}
.menu-display__top--first .menu-sub {
  font-size: 1.3rem;
  color: #3d1319;
}

.menu-display__top--second {
  font-family: "Croissant", Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 0.85rem;
}
.menu-display__top--second:visited {
  color: inherit;
}
.menu-display__top--second .menu-title {
  background: -webkit-linear-gradient(-35deg, #c77412 0%, #9460fb 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-display__top--second .menu-sub {
  font-family: "Times New Roman", Times, serif, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  color: #c77412;
  font-weight: bold;
}

.menu-display__bot--third {
  font-family: "Dancing", Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 1.3rem;
}
.menu-display__bot--third:visited {
  color: inherit;
}
.menu-display__bot--third .menu-title {
  background: -webkit-linear-gradient(135deg, #90c9ff 20%, #0022ce 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-display__bot--third .menu-sub {
  font-size: 1.4rem;
  color: #0887fb;
}

.menu-display__bot--fourth {
  font-family: "Kaushan", Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 1.2rem;
}
.menu-display__bot--fourth:visited {
  color: inherit;
}
.menu-display__bot--fourth .menu-title {
  background: -webkit-linear-gradient(35deg, #3e923a 30%, #c9fd9b 70%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-display__bot--fourth .menu-sub {
  font-size: 1.4rem;
  color: #3e923a;
}

.next-btn {
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  letter-spacing: -1px;
}

.menu-sub {
  font-family: "Segoe", Arial, Helvetica, sans-serif;
}

footer {
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
}
footer a {
  color: #f9ca48;
  text-decoration: none;
}

/** AUTRES PAGES **/
main h2 {
  font-family: "Alte", Arial, Helvetica, sans-serif;
}

.first-menu {
  color: #3d1319;
  font-family: "Segoe", Arial, Helvetica, sans-serif;
}
.first-menu i {
  background: -webkit-linear-gradient(0deg, #f05160 40%, #f6916a 70%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.first-menu__title {
  font-family: "Devonshire", Arial, Helvetica, sans-serif;
  font-size: 2rem;
}
.first-menu__sub {
  font-size: 1.2rem;
}
.first-menu__content--dishes {
  font-size: 0.8rem;
}
.first-menu__content--prices {
  font-size: 0.85rem;
  font-weight: bolder;
}
.first-menu__title-out--txt {
  font-family: "Devonshire", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

.second-menu {
  font-family: "Times New Roman", Times, serif;
  background: -webkit-linear-gradient(90deg, #6e4ccc 0%, #a56799 50%, #c77412 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.second-menu__title {
  font-family: "Croissant", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  background: -webkit-linear-gradient(-35deg, #c77412 0%, #9460fb 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.second-menu__sub {
  font-size: 1.3rem;
}
.second-menu__content--dishes {
  font-size: 1.1rem;
}
.second-menu__content--prices {
  font-size: 1.1rem;
  font-weight: bolder;
}

.third-menu {
  font-family: "Segoe", Arial, Helvetica, sans-serif;
}
.third-menu__title {
  font-family: "Dancing", Arial, Helvetica, sans-serif;
  font-size: 4rem;
  background: -webkit-linear-gradient(135deg, #90c9ff 20%, #0022ce 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.third-menu__sub {
  font-size: 1.2rem;
}
.third-menu__content--dishes {
  font-size: 0.9rem;
}
.third-menu__content--prices {
  font-size: 0.9rem;
  font-weight: bolder;
}

.fourth-menu {
  font-family: "Segoe", Arial, Helvetica, sans-serif;
}
.fourth-menu__title {
  font-family: "Kaushan", Arial, Helvetica, sans-serif;
  font-size: 4rem;
  background: -webkit-linear-gradient(35deg, #3e923a 30%, #c9fd9b 70%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fourth-menu__sub {
  font-size: 1.2rem;
}
.fourth-menu__content--dishes {
  font-size: 0.9rem;
}
.fourth-menu__content--prices {
  font-size: 0.9rem;
  font-weight: bolder;
}

/** MENUS DE LA PAGE ACCUEIL **/
.menu-display__top--first {
  width: 210px;
  height: 310px;
  box-shadow: 0.5px 0.5px 7px #B0BEC5;
  margin: 0px 17px 30px 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fcdfdb;
}
.menu-display__top--first i {
  font-size: 1.8rem;
}
.menu-display__top--first .menu-title {
  margin-top: 0%;
  margin-bottom: 10px;
}
.menu-display__top--first:hover i {
  animation: icon-zoom 300ms both ease;
}
.menu-display__top--first:hover .menu-title, .menu-display__top--first:hover .menu-sub {
  animation: menu-zoom 300ms both ease;
}
.menu-display__top--second {
  width: 210px;
  height: 310px;
  box-shadow: 0.5px 0.5px 7px #B0BEC5;
  margin: 0px 17px 30px 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff5fe;
}
.menu-display__top--second:hover .menu-title, .menu-display__top--second:hover .menu-sub {
  animation: menu-zoom 300ms both ease;
}
.menu-display__bot--third {
  width: 210px;
  height: 310px;
  box-shadow: 0.5px 0.5px 7px #B0BEC5;
  margin: 0px 17px 30px 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f9f9f9;
}
.menu-display__bot--third:hover .menu-title, .menu-display__bot--third:hover .menu-sub {
  animation: menu-zoom 300ms both ease;
}
.menu-display__bot--fourth {
  width: 210px;
  height: 310px;
  box-shadow: 0.5px 0.5px 7px #B0BEC5;
  margin: 0px 17px 30px 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fdfffd;
}
.menu-display__bot--fourth .menu-title {
  margin-bottom: 5px;
}
.menu-display__bot--fourth:hover .menu-title, .menu-display__bot--fourth:hover .menu-sub {
  animation: menu-zoom 300ms both ease;
}

.menu-sub {
  margin-top: 0%;
}

/** MENUS FULL SCREEN **/
.next-btn {
  width: 230px;
  height: 45px;
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: #579c87;
  color: #f9ca48;
  border-radius: 8px;
}
.next-btn__txt {
  margin: 0%;
  padding-top: 7px;
  position: relative;
  text-align: center;
  transform: scaleX(1);
  transform-origin: bottom;
}
.next-btn__anim {
  display: flex;
  position: absolute;
  opacity: 0%;
  transform: scaleX(0);
}
.next-btn__anim--1 {
  display: block;
  background-color: #f9ca48;
  height: 20px;
  width: 20px;
  border-radius: 15px;
  box-shadow: 0.5px 0.5px 7px #B0BEC5;
  margin: 12px 2px 10px 2px;
  animation: dots-jump 300ms both infinite;
}
.next-btn__anim--2 {
  display: block;
  background-color: #f9ca48;
  height: 20px;
  width: 20px;
  border-radius: 15px;
  box-shadow: 0.5px 0.5px 7px #B0BEC5;
  margin: 12px 2px 10px 2px;
  animation: dots-jump 300ms both infinite;
}
.next-btn__anim--3 {
  display: block;
  background-color: #f9ca48;
  height: 20px;
  width: 20px;
  border-radius: 15px;
  box-shadow: 0.5px 0.5px 7px #B0BEC5;
  margin: 12px 2px 10px 2px;
  animation: dots-jump 300ms both infinite;
}
.next-btn:hover .next-btn__txt {
  animation: btn-txt 300ms forwards;
}
.next-btn:hover .next-btn__anim {
  animation: dots-bar 200ms forwards;
}
.next-btn:hover .next-btn__anim--1 {
  animation-delay: 50ms;
}
.next-btn:hover .next-btn__anim--2 {
  animation-delay: 100ms;
}
.next-btn:hover .next-btn__anim--3 {
  animation-delay: 150ms;
}

.head {
  display: flex;
  justify-content: center;
  background-color: #579c87;
  position: relative;
}
.head__title {
  margin: 10px 10px 10px 10px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-bottom: 10%;
}
@media (max-width: 599px) {
  main {
    padding-bottom: 28%;
  }
}

.menu-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 95%;
  margin-top: 40px;
}
.menu-display__top {
  display: flex;
  justify-content: center;
}
@media (max-width: 599px) {
  .menu-display__top {
    flex-direction: column;
    margin: auto;
  }
}
.menu-display__bot {
  display: flex;
  justify-content: center;
}
@media (max-width: 599px) {
  .menu-display__bot {
    flex-direction: column;
    margin: auto;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #579c87;
  position: fixed;
  bottom: 0%;
  margin: 0px auto;
  max-width: 900px;
  width: 100%;
}
.footer__left {
  margin: 0px 25px 0px 25px;
}
.footer__left--title:hover, .footer__left--title:active {
  animation: wiggle 100ms cubic-bezier(0.4, 0.1, 0.6, 0.9) infinite;
}
.footer__right {
  margin: 0px 25px 0px 25px;
}
.footer__right--title:hover, .footer__right--title:active {
  animation: wiggle 100ms cubic-bezier(0.4, 0.1, 0.6, 0.9) infinite;
}

main h2 {
  margin: 40px auto 20px auto;
}

.first-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 80%;
  box-shadow: 0.5px 0.5px 7px #B0BEC5;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fcdfdb;
  /** Debut mobile version **/
  /** Fin mobile version **/
}
.first-menu__content {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.first-menu__content--dishes {
  text-align: left;
}
.first-menu__content--prices {
  text-align: right;
}
.first-menu li {
  list-style-type: none;
  margin-bottom: 15px;
}
@media (max-width: 599px) {
  .first-menu {
    width: 95%;
    text-align: center;
  }
  .first-menu__content {
    justify-content: center;
  }
  .first-menu__content--dishes {
    text-align: center;
  }
  .first-menu__content--prices {
    display: none;
  }
  .first-menu .phone-price {
    display: flex;
    margin: auto;
    justify-content: center;
    border-top: 1px dotted;
    width: 20%;
    padding-top: 10px;
  }
  .first-menu br {
    display: inline-block;
  }
}
.first-menu span {
  display: none;
}
.first-menu br {
  display: none;
}
.first-menu i {
  font-size: 3rem;
}
.first-menu__title {
  margin-top: 0%;
  margin-bottom: 0%;
}
.first-menu__sub--title {
  margin-bottom: 0%;
  cursor: default;
}
.first-menu__sub--line {
  display: block;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left;
  background-color: #3d1319;
}
.first-menu__sub:hover .first-menu__sub--line {
  animation: sub-underline 300ms ease both;
}
.first-menu ul {
  padding-left: 0%;
}
.first-menu__title-out {
  display: flex;
}
.first-menu__title-out i {
  font-size: 2rem;
  position: relative;
  top: 25px;
  right: 15px;
}

main h2 {
  margin: 40px auto 20px auto;
}

.second-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 80%;
  box-shadow: 0.5px 0.5px 7px #B0BEC5;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fff5fe;
  /** Debut mobile version **/
  /** Fin mobile version **/
}
.second-menu__content {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.second-menu__content--dishes {
  text-align: left;
}
.second-menu__content--prices {
  text-align: right;
}
.second-menu li {
  list-style-type: none;
  margin-bottom: 15px;
}
@media (max-width: 599px) {
  .second-menu {
    width: 95%;
    text-align: center;
  }
  .second-menu__content {
    justify-content: center;
  }
  .second-menu__content--dishes {
    text-align: center;
  }
  .second-menu__content--prices {
    display: none;
  }
  .second-menu .phone-price {
    display: flex;
    margin: auto;
    justify-content: center;
    border-top: 1px dotted;
    width: 20%;
    padding-top: 10px;
  }
  .second-menu br {
    display: inline-block;
  }
}
.second-menu span {
  display: none;
}
.second-menu br {
  display: none;
}
.second-menu__sub--title {
  margin-bottom: 0%;
  cursor: default;
}
.second-menu__sub--line {
  display: block;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left;
  background: linear-gradient(-35deg, #c77412 0%, #9460fb 100%);
}
.second-menu__sub:hover .second-menu__sub--line {
  animation: sub-underline 300ms ease both;
}
.second-menu ul {
  padding-left: 0%;
}

main h2 {
  margin: 40px auto 20px auto;
}

.third-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 80%;
  box-shadow: 0.5px 0.5px 7px #B0BEC5;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f9f9f9;
  /** Debut mobile version **/
  /** Fin mobile version **/
}
.third-menu__content {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.third-menu__content--dishes {
  text-align: left;
}
.third-menu__content--prices {
  text-align: right;
}
.third-menu li {
  list-style-type: none;
  margin-bottom: 15px;
}
@media (max-width: 599px) {
  .third-menu {
    width: 95%;
    text-align: center;
  }
  .third-menu__content {
    justify-content: center;
  }
  .third-menu__content--dishes {
    text-align: center;
  }
  .third-menu__content--prices {
    display: none;
  }
  .third-menu .phone-price {
    display: flex;
    margin: auto;
    justify-content: center;
    border-top: 1px dotted;
    width: 20%;
    padding-top: 10px;
  }
  .third-menu br {
    display: inline-block;
  }
}
.third-menu span {
  display: none;
}
.third-menu br {
  display: none;
}
.third-menu__sub--title {
  margin-bottom: 0%;
  cursor: default;
}
.third-menu__sub--line {
  display: block;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left;
  background: linear-gradient(135deg, #90c9ff 20%, #0022ce 80%);
}
.third-menu__sub:hover .third-menu__sub--line {
  animation: sub-underline 300ms ease both;
}
.third-menu ul {
  padding-left: 0%;
}

main h2 {
  margin: 40px auto 20px auto;
}

.fourth-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 80%;
  box-shadow: 0.5px 0.5px 7px #B0BEC5;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fdfffd;
  /** Debut mobile version **/
  /** Fin mobile version **/
}
.fourth-menu__content {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.fourth-menu__content--dishes {
  text-align: left;
}
.fourth-menu__content--prices {
  text-align: right;
}
.fourth-menu li {
  list-style-type: none;
  margin-bottom: 15px;
}
@media (max-width: 599px) {
  .fourth-menu {
    width: 95%;
    text-align: center;
  }
  .fourth-menu__content {
    justify-content: center;
  }
  .fourth-menu__content--dishes {
    text-align: center;
  }
  .fourth-menu__content--prices {
    display: none;
  }
  .fourth-menu .phone-price {
    display: flex;
    margin: auto;
    justify-content: center;
    border-top: 1px dotted;
    width: 20%;
    padding-top: 10px;
  }
  .fourth-menu br {
    display: inline-block;
  }
}
.fourth-menu span {
  display: none;
}
.fourth-menu br {
  display: none;
}
.fourth-menu__sub--title {
  margin-bottom: 0%;
  cursor: default;
}
.fourth-menu__sub--line {
  display: block;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left;
  background: linear-gradient(35deg, #3e923a 30%, #c9fd9b 70%);
}
.fourth-menu__sub:hover .fourth-menu__sub--line {
  animation: sub-underline 300ms ease both;
}
.fourth-menu ul {
  padding-left: 0%;
}

/*# sourceMappingURL=style.css.map */
