@font-face {
    font-family: "Devonshire";
    src: url(../fonts/Devonshire-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Croissant";
    src: url(../fonts/croissantone-regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Dancing";
    src: url(../fonts/DancingScript-Regular.otf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Kaushan";
    src: url(../fonts/kaushanscript-regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Gelder";
    src: url(../fonts/GelderSans-ExtraBold.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Segoe";
    src: url(../fonts/segoeprb.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Quicksand";
    src: url(../fonts/Quicksand-Regular.otf);
    font-style: normal;
    font-weight: normal;
}

@import "./Utils/variables";
@import "./Utils/mixins";
@import "./Utils/keyframes";

@import "./Base/base";
@import "./Base/typography";

@import "./Components/menus";
@import "./Components/buttons";

@import "./Layout/header";
@import "./Layout/main-page-content";
@import "./Layout/footer";

@import "./Pages/first-menu-page";
@import "./Pages/second-menu-page";
@import "./Pages/third-menu-page";
@import "./Pages/fourth-menu-page";