.footer {
    display: flex;
    justify-content: space-between;
    background-color: $color-primary;
    &__left {
        margin: 0px 25px 0px 25px;
    }
    &__right {
        margin: 0px 25px 0px 25px;
    }
}