main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-bottom: 10%;
    @include mobile-version {
        padding-bottom: 28%;
    }
    @include fourK-version {
        height: 1500px;
    }
    @include tablet-version {
        height: 1180px;
    }
}

.menu-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 95%;
    margin-top: 40px;
    &__top {
        display: flex;
        justify-content: center;
        @include mobile-version {
            flex-direction: column;
            margin: auto;
        }
    }
    &__bot {
        display: flex;
        justify-content: center;
        @include mobile-version {
            flex-direction: column;
            margin: auto;
        }
    }
}