.next-btn {
    width: 230px;
    display: block;
    margin: auto;
    background-color: $color-primary;
    color: $color-secondary;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    border-radius: 8px;
    &:active, &:focus {
        outline-style: none;
    }
}