/** MENUS DE LA PAGE ACCUEIL **/

.menu-display {
    &__top {
        &--first {
            @include menu-setting;
            background-color: $first-bg;
            i {
                font-size: 1.8rem;
            }
            .menu-title {
                margin-top: 0%;
                margin-bottom: 10px;
            }
            &:hover {
                animation: menu-zoom 300ms both ease;
            }
        }
        &--second {
            @include menu-setting;
            background-color: $second-bg;
            &:hover {
                animation: menu-zoom 300ms both ease;
            }
        }
    }
    &__bot {
        &--third {
            @include menu-setting;
            background-color: $third-bg;
            &:hover {
                animation: menu-zoom 300ms both ease;
            }
        }
        &--fourth {
            @include menu-setting;
            background-color: $fourth-bg;
            .menu-title {
                margin-bottom: 5px;
            }
            &:hover {
                animation: menu-zoom 300ms both ease;
            }
        }
    }
}

.menu-sub {
    margin-top: 0%;
}

/** MENUS FULL SCREEN **/