/** MENUS DE LA PAGE ACCUEIL **/

.menu-display {
    &__top {
        &--first {
            @include menu-setting;
            background-color: $first-bg;
            i {
                font-size: 1.8rem;
            }
            .menu-title {
                margin-top: 0%;
                margin-bottom: 10px;
            }
            &:hover {
                & i {
                    animation: icon-zoom 300ms both ease;
                }
                .menu-title, .menu-sub {
                    animation: menu-zoom 300ms both ease;
                }
            }
            @include fourK-version {
                width: 400px;
                height: 600px;
            }
        }
        &--second {
            @include menu-setting;
            background-color: $second-bg;
            &:hover {
                .menu-title, .menu-sub {
                    animation: menu-zoom 300ms both ease;
                }
            }
            @include fourK-version {
                width: 400px;
                height: 600px;
            }
        }
    }
    &__bot {
        &--third {
            @include menu-setting;
            background-color: $third-bg;
            &:hover {
                .menu-title, .menu-sub {
                    animation: menu-zoom 300ms both ease;
                }
            }
            @include fourK-version {
                width: 400px;
                height: 600px;
            }
        }
        &--fourth {
            @include menu-setting;
            background-color: $fourth-bg;
            .menu-title {
                margin-bottom: 5px;
            }
            &:hover {
                .menu-title, .menu-sub {
                    animation: menu-zoom 300ms both ease;
                }
            }
            @include fourK-version {
                width: 400px;
                height: 600px;
            }
        }
    }
}

.menu-sub {
    margin-top: 0%;
}
