html {
    width: 100%;
    height: 100%;
}

body {
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: $menu-shadow;
}