header {
    font-family: "Gelder", Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    color: $color-secondary;
    letter-spacing: -4px;
}

.menu-display__top--first {
    font-family: "Devonshire", Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 1.1rem;
    &:visited {
        color: inherit;
    }
    .menu-title {
        color: $first-txt;
    }
    .menu-sub {
        font-size: 1.3rem;
        color: $first-txt;
    }
}

.menu-display__top--second {
    font-family: "Croissant", Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 0.85rem;
    &:visited {
        color: inherit;
    }
    .menu-sub {
        font-family: "Croissant", Arial, Helvetica, sans-serif;
        font-size: 1.4rem;
    }
}

.menu-display__bot--third {
    font-family: "Dancing", Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 1.3rem;
    &:visited {
        color: inherit;
    }
    .menu-sub {
        font-size: 1.4rem;
    }
}

.menu-display__bot--fourth {
    font-family: "Kaushan", Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 1.2rem;
    &:visited {
        color: inherit;
    }
    .menu-sub {
        font-size: 1.4rem;
    }
}

.next-btn {
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    letter-spacing: -1px;
}

.menu-sub {
    font-family: "Segoe", Arial, Helvetica, sans-serif;
}

footer {
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    & a {
        color: $color-secondary;
        text-decoration: none;
    }
}