main {
    h2 {
    margin: 40px auto 20px auto;
    }
}

.first-menu {
    @include page-menu-setting;
    background-color: $first-bg;
    /** Debut mobile version **/
    @include mobile-version {
        width: 95%;
        text-align: center;
        &__content {
            justify-content: center;
            &--dishes {
                text-align: center;
            }
            &--prices {
                display: none;
            }
        }
        .phone-price {
            display: flex;
            margin: auto;
            justify-content: center;
            border-top: 1px dotted;
            width: 20%;
            padding-top: 10px;
        }
        br {
            display: inline-block;
        }
    }
    span {
        display: none;
    }
    br {
        display: none;
    }
    /** Fin mobile version **/
    i {
        font-size: 3rem;
    }
    &__title {
        margin-top: 0%;
        margin-bottom: 0%;
    }
    &__presub {
        display: flex;
        width: 80%;
        justify-content: space-between;
        margin-top: 50px;
        &--around {
            height: 3px;
            width: 30%;
            background-color: $first-txt;
            margin: 15px 0px 15px 0px;
        }
    }
    &__sub {
        &--title {
            @include sub-title;
        }
        &--line {
            @include sub-line;
            transform: scaleX(0);
            transform-origin: left;
            background-color: $first-txt;
        }
        &:hover {
            .first-menu__sub--line {
                animation: sub-underline 300ms ease both;
            }
        }
    }
    & ul {
        padding-left: 0%;
    }
    &__title-out {
        display: flex;
        & i {
            font-size: 2rem;
            position: relative;
            top: 25px;
            right: 15px;
        }
    }
}