main {
    h2 {
    margin: 40px auto 20px auto;
    }
}

.first-menu {
    @include page-menu-setting;
    background-color: $first-bg;
    i {
        font-size: 3rem;
    }
    &__title {
        margin-top: 0%;
        margin-bottom: 0%;
    }
    & ul {
        padding-left: 0%;
    }
    &__title-out {
        display: flex;
        & i {
            font-size: 2rem;
            position: relative;
            top: 25px;
            right: 15px;
        }
    }
}