main {
    h2 {
    margin: 40px auto 20px auto;
    }
}

.fourth-menu {
    @include page-menu-setting;
    background-color: $fourth-bg;
    /** Debut mobile version **/
    @include mobile-version {
        width: 95%;
        text-align: center;
        &__content {
            justify-content: center;
            &--dishes {
                text-align: center;
            }
            &--prices {
                display: none;
            }
        }
        .phone-price {
            display: flex;
            margin: auto;
            justify-content: center;
            border-top: 1px dotted;
            width: 20%;
            padding-top: 10px;
        }
        br {
            display: inline-block;
        }
    }
    span {
        display: none;
    }
    br {
        display: none;
    }
    /** Fin mobile version **/
    &__presub {
        display: flex;
        width: 90%;
        justify-content: space-between;
        margin-top: 50px;
        &--around {
            height: 3px;
            width: 30%;
            margin: 15px 0px 15px 0px;
            &.ar-one {
                background: map-get($gradient, fourth-gr);
            }
            &.ar-two {
                background: map-get($gradient, fourth-gr-reverse);
            }
        }
    }
    &__sub {
        &--title {
            @include sub-title;
        }
        &--line {
            @include sub-line;
            transform: scaleX(0);
            transform-origin: left;
            background: linear-gradient(35deg, #3e923a 30%, #c9fd9b 70%);
        }
        &:hover {
            .fourth-menu__sub--line {
                animation: sub-underline 300ms ease both;
            }
        }
    }
    & ul {
        padding-left: 0%;
    }
}