main {
    h2 {
    margin: 40px auto 20px auto;
    }
}

.third-menu {
    @include page-menu-setting;
    background-color: $third-bg;
    &__sub {
        &--title {
            @include sub-title;
        }
        &--line {
            @include sub-line;
            transform: scaleX(0);
            transform-origin: left;
            background: linear-gradient(135deg, #90c9ff 20%, #0022ce 80%);
        }
        &:hover {
            .third-menu__sub--line {
                animation: sub-underline 300ms ease both;
            }
        }
    }
    & ul {
        padding-left: 0%;
    }
}