@keyframes wiggle {
    25% {
        transform: translateX(1%);
    }
    75% {
        transform: translateX(-1%);
    }
}

@keyframes dots-bar {
    0% {
        opacity: 0%;
        transform: scaleX(0);
    }
    100% {
        opacity: 100%;
        transform: scaleX(1);
    }
}

@keyframes dots-jump {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(10%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes btn-txt {
    0% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0);
        opacity: 0%;
    }
}

@keyframes menu-zoom {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.25);
    }
}

@keyframes icon-zoom {
    0% {
        transform: scale(1) translateY(0%);
    }
    25% {
        transform: rotate(25deg);
    }
    50%{
        transform: translateY(-25%);
    }
    75% {
        transform: rotate(-25deg);
    }
    100% {
        transform: scale(1.25) translateY(-50%);
    }
}