@mixin menu-setting {
    width: 210px;
    height: 310px;
    box-shadow: $menu-shadow;
    margin: $menu-margin;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin page-menu-setting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;
    box-shadow: $menu-shadow;
    padding-top: 40px;
    padding-bottom: 40px;
    &__content {
        display: flex;
        justify-content: space-between;
        width: 80%;
        &--dishes {
            text-align: left;
        }
        &--prices {
            text-align: right;
        }
    }
    li {
        list-style-type: none;
        margin-bottom: 15px;
    }
}

@mixin dot {
    display: block;
    background-color: $color-secondary;
    height: 20px;
    width: 20px;
    border-radius: 15px;
    box-shadow: $menu-shadow;
    margin: 12px 2px 10px 2px;
}