$color-primary: #579c87;
$color-secondary: #f9ca48;

$first-bg: #fcdfdb;
$second-bg: #fff5fe;
$third-bg: #f9f9f9;
$fourth-bg: #fdfffd;

$menu-shadow: 0.5px 0.5px 7px #B0BEC5;
$menu-margin: 0px 17px 30px 17px;
$text-shd: 0.2px 0.2px 5px #B0BEC5;

$first-txt: #3d1319;

$gradient: (
    second-gr: linear-gradient(45deg, #c77412 0%, #9460fb 100%),
    third-gr:  linear-gradient(135deg, #1032dc 0%, #abd0f2 100%),
    fourth-gr: linear-gradient(70deg, #3e923a 0%, #c7fe92 100%)
)